.contacts_container {
  background-color: #292b2c;
  display: flex;
  color: aliceblue;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  padding: 1rem;
}
.contacts_container h1 {
  text-decoration: underline;
  font-size: small;
}
.contacts_container a {
  color: aliceblue;
}
